/* src/pages/Auth.css */

/* Specific styling for the login and register pages */
body.auth-page, html.auth-page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; /* Ensure full height for the auth pages */
    overflow: hidden; /* Prevent extra scrolling */
  }

  .text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #ECDFCC; /* Text color */
  }

  .site-name {
    font-family: 'Orbitron', sans-serif;
    margin-top: 40px;
    margin-left: 40px;
  }
  
  .auth-container {
    display: flex;
    height: 100vh; /* Use the full viewport height */
    background-color: #181C14; /* Main background color */
    margin: 0; /* Ensure no extra space around the container */
  }
  
  .auth-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    color: #ECDFCC; /* Text color */
  }
  
  .auth-title {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #ECDFCC;
    margin-bottom: 5px;
  }
  
  .auth-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
    color: #697565;

  }
  
  .auth-form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .input-group label {
    font-size: 14px;
    color: #ECDFCC;
  }
  
  .input-group input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #3C3D37;
    border-radius: 8px;
    background-color: #3C3D37;
    color: #ECDFCC;
  }
  
  .auth-button {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    background-color: #697565;
    color: #ECDFCC;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-button:hover {
    background-color: #ECDFCC;
    color: #181C14;
  }
  
  .auth-footer {
    margin-top: 40px;
    text-align: left;
  }
  
  .auth-link {
    color: #697565;
    text-decoration: none;
    font-weight: 600;
  }
  
  .auth-link:hover {
    text-decoration: underline;
  }
  
  .auth-image-container {
    flex: 1;
    background-color: #3C3D37; /* Image section background */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .auth-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0px; /* Add some style to the image section */
    border-bottom-left-radius: 20px;
  }
  